<html>
  <link type="text/css" rel="stylesheet" href="/assets/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/main.js"></script>
  <head>
  <title>{{app_name}}</title>
  </head>
  <body>
    {% if current_user %}
      <div id="userdiv"><p>Logged in as {{ current_user.displayname|escape }}. <a href="/auth/logout">Log out</a></p>
      </div>
      <div id="pagediv">  
        <div id="searchdiv">
          <form id="searchbox" method="get" action="" name="search">
            <label for="lat">Drop a Reddit thread link here: </label><input type="text" id="redditinput" name="redditinput"/>
            <input type="submit" value="Search" name="submit" />
          </form> 
          or
          <form id="randbox" method="get" action="" name="randomform">
            <input type="submit" value="Try Me" name="butt" />
          </form>
        </div>
        
        <div id="resultdiv">
          {%if results %}
            <p>Songs found:</p>
            
            <form id="playlistform" method="post" action="createplaylist" name="playlistform">
            <input id="articlename" name="articlename" type="hidden" value="{{articlename}}">
            <input id="srname" name="srname" type="hidden" value="{{srname}}">
            <input id="srlink" name="srlink" type="hidden" value="{{srlink}}">

            <div id="songdiv">
              {% for song in results %}
              <div class="previewdiv">
              <input type="checkbox" name="song" value="{{song.uri}}" class="styled-checkbox" id="checkbox{{loop.index}}" checked><label for="checkbox{{loop.index}}"><span class="previewsong"><a href="{{song.external_urls.spotify}}">{{song.name}}</a> by 
                  {% for artist in song.artists %}
                      {% if song.artists|length == 1 %}
                        <a href="{{artist.external_urls.spotify}}">{{artist.name}}</a>
                      {% elif loop.index == song.artists|length %}
                        <a href="{{artist.external_urls.spotify}}">{{artist.name}}</a>
                      {% else %}
                      <a href="{{artist.external_urls.spotify}}">{{artist.name}}</a>, 
                      {% endif %}
                    {% endfor %}
                    || <span class="previewurl"><a class="preview" store="{{song.preview_url}}" href="javascript:;">Preview</a></span></span></label>
                <br/>
              </div>
              {% endfor %}
              <br/>
            </div>
            
              <input type="submit" value="Create Playlist" name="playlistbutt" />
            </form>
            <div id="playerplaceholder"></div>
          {% elif error == "reddit" %}
          <p>Ran into an error while scraping Reddit for songs, try again!</p>
          {% elif error == "redditservers" %}
          <p>Something went wrong (is Reddit down?). Try again in a bit!</p>
          {% elif error == "url" %}
            <p>enter a valid URL</p>
          {% endif %}
        </div>
      </div>
    <!-- {% if playlists %}
      <p>Your playlists are:</p>
    <ul>
    {% for playlist in playlists %}
    <li><a href="{{playlist.external_urls.spotify}}">{{playlist.name}}</a> ({{playlist.tracks.total}} tracks)</li>
    {% endfor %}
      </ul>
    {% endif %} -->
      
    {% else %}
    <div id="logindiv">  
      <p>You are not yet logged into this site</p>
      <p><a href="/auth/login">Log in to Spotify</a></p>
    </div>
    {% endif %}
  </body>
</html>