<html>
  <link type="text/css" rel="stylesheet" href="/assets/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/main.js"></script>
  <head>
  <title>{{app_name}}</title>
  </head>
  <body>
    {% if current_user %}
      <div id="userdiv"><p>logged in as {{ current_user.displayname|escape }} || <a href="/auth/logout">log out</a></p>
      </div>
      <div id="pagediv">  
        <div id="searchdiv">
          <form id="searchbox" method="get" action="" name="search">
            <label for="lat">drop a link to a reddit thread here: </label><input type="text" {% if tryagain %} value="{{tryagain}}" {% endif %} id="redditinput" name="redditinput"/>
            <input class="button" type="submit" value="search thread" name="submit" />
          </form> 
          or
          <form id="randbox" method="get" action="" name="randomform">
            <input class="button" type="submit" value="try me" name="butt" />
          </form>
        </div>
        
        <div id="resultdiv">
          {%if results %}
            <p>tracks found:</p>
            
            <form id="playlistform" method="post" action="createplaylist" name="playlistform">
            <input id="articlename" name="articlename" type="hidden" value="{{articlename}}">
            <input id="srname" name="srname" type="hidden" value="{{srname}}">
            <input id="srlink" name="srlink" type="hidden" value="{{srlink}}">

            <div id="songdiv">
              {% for song in results %}
              <div class="previewdiv">
                  <span class="previewsong"><input type="checkbox" name="song" value="{{song.uri}}" class="styled-checkbox" id="checkbox{{loop.index}}" checked><label for="checkbox{{loop.index}}"><a href="{{song.external_urls.spotify}}">{{song.name}}</a> by 
                  {% for artist in song.artists %}
                      {% if song.artists|length == 1 %}
                        <a href="{{artist.external_urls.spotify}}">{{artist.name}}</a>
                      {% elif loop.index == song.artists|length %}
                        <a href="{{artist.external_urls.spotify}}">{{artist.name}}</a>
                      {% else %}
                      <a href="{{artist.external_urls.spotify}}">{{artist.name}}</a>, 
                      {% endif %}
                    {% endfor %}
                  </span></label><div class="previewclick">  <span class="previewurl fakelink" store="{{song.preview_url}}">Preview</span></div>
                <br/>
              </div>
              {% endfor %}
              <br/>
            </div>
            
              <input class="button" type="submit" value="create playlist" name="playlistbutt" />
            </form>
            <div id="playerplaceholder"></div>
          {% elif error == "reddit" %}
            <p>there was an error scraping reddit for songs, try again!</p>
          {% elif error == "redditservers" %}
            <p>something went wrong (is reddit down?). try again in a bit!</p>
          {% elif error == "url" %}
            <p>enter a valid reddit thread url!</p>
          {% elif error == "loggedout" %}
            <p>your session may have expired. try logging out and logging in again!</p>
          {% endif %}
        </div>
      </div>
    <!-- {% if playlists %}
      <p>Your playlists are:</p>
    <ul>
    {% for playlist in playlists %}
    <li><a href="{{playlist.external_urls.spotify}}">{{playlist.name}}</a> ({{playlist.tracks.total}} tracks)</li>
    {% endfor %}
      </ul>
    {% endif %} -->
     
    {% else %}
    <div id="logindiv">  
      <p>you are not yet logged into this site</p>
      <p><a href="/auth/login">log in to Spotify</a></p>
    </div>
    {% endif %}
  </body>
</html>