body {
    background-color: #373737;
    color: #999999
}

a:link {
    color: green;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: lightgreen;
}

/* selected link */
/* a:active {
    color: green;
} */

#userdiv {
    float: right;
}

#pagediv, #logindiv, #playlistdiv {
    padding: 25vh;
    margin: 0 auto;
    text-align: center;
    clear: both;
    width: 33vw
    
}

#songdiv {
    text-align: left;
}

.previewdiv:nth-child(odd) {
    background-color: #262626; 
}

.previewdiv {
    padding: 5px;
}

#randbox, #searchbox {
    display: inline-block;
}



.styled-checkbox {
    position: absolute;
    opacity: 0;
  }
  .styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }
  .styled-checkbox + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: inherit;
  }
  .styled-checkbox:hover + label:before {
    background: green;
  }
  .styled-checkbox:focus + label:before {
    -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
            box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }
  .styled-checkbox:checked + label:before {
    background: green;
  }
  .styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }
  .styled-checkbox:disabled + label:before {
    -webkit-box-shadow: none;
            box-shadow: none;
    background: #ddd;
  }
  .styled-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    -webkit-box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
            box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  

  